@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind.css */

/* Add your Tailwind CSS styles here */
.animate-title {
  animation: slideInFromLeft 1s ease-in-out;
}

.animate-form {
  animation: fadeIn 1s ease-in-out;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.result-animation {
        animation-name: resultFadeIn;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        opacity: 0;
      }

      @keyframes resultFadeIn {
        0% {
          opacity: 0;
          transform: translateY(-10px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }